<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='../static/main.css' />

    <title>CS:GO Predictor</title>
  </head>
  <body>



 <div class="main">

    <div class="left">
       <div class="center-top">
         <p>salut</p>
         <p>jtm</p>
       </div>
    </div>
    <div class="center">

      <div class="pick">
        <div class="card" id="team1_selected">
          <p id="select_team1_text">Select team 1 below</p>
          <div class="team" id="selected1" style="display:none;">
            <img id="logo1" src="" alt="">
            <p id="team1Name">Vitality</p>
          </div>
        </div>
        <div class="">
          <p>2 - 16</p>
          <a href="">Reset</a>
        </div>
        <div class="card" id="team2_selected">
          <p id="select_team2_text">Select team 2 below</p>
          <div class="team" id="selected2" style="display:none;">
            <img id="logo2" src="" alt="">
            <p id="team2Name">Vitality</p>
          </div>
        </div>

      </div>

      <form method="post" action="/" class="predict_btn">
        <input type="submit" value="Predict" name="predict"/>
        <input type="text" name="fdgagdas" value="faeafe" hidden>
        <input type="text" name="fdgagdas" value="faeafe" hidden>
      </form>


      <div class="teams">

        {% for key,team in data.iterrows() %}
          <div class="team" onclick="select_team(this)">
            <img src="{{ team['logos'] }}" alt="">
              <p> {{ team['team'] }} </p>
          </div>
        {% endfor %}



      </div>
    </div>
    <div class="right">
    </div>
 </div>


 <script type="text/javascript">

 function select_team(team){
     team.style.border = "2px solid #6E509F";
     var childs = team.childNodes;
     var logo = childs[1].src;
     var teamName = team.getElementsByTagName('p')[0].innerHTML;
     var team_container1 = document.getElementById('selected1');
     var team_container2 = document.getElementById('selected2');
     if (team_container1.style.display == "none"){
       var select_team1_text = document.getElementById('select_team1_text');
       select_team1_text.style.display = "none";
       document.getElementById('logo1').src = logo;
       document.getElementById('team1Name').textContent = teamName;
       team_container1.style.display="block";
     }else{
       var select_team2_text = document.getElementById('select_team2_text');
       select_team2_text.style.display = "none";
       document.getElementById('logo2').src = logo;
       document.getElementById('team2Name').textContent = teamName;
       team_container2.style.display="block";
     }

 }



 </script>
 </body>

</html>
