<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/static/main.css' />
    <title>CS:GO Predictor</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="left full-height">

        </div>

        <div class="center full-height">
          <div class="center-container">
            <div class="picked-teams">
              <div class="team1 card">
                <h4>Pick the first team</h4>
              </div>
              <div class="team1 card">
                <h4>Pick the second team</h4>
              </div>
            </div>

            <div class="teams card">
              <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=50&s=2838cd78a5ebb5c9fea4c485908e9dbb" alt="" width="50px;">
              <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=50&s=2838cd78a5ebb5c9fea4c485908e9dbb" alt="" width="50px;">
              <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=50&s=2838cd78a5ebb5c9fea4c485908e9dbb" alt="" width="50px;">
              <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=50&s=2838cd78a5ebb5c9fea4c485908e9dbb" alt="" width="50px;">
              <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=50&s=2838cd78a5ebb5c9fea4c485908e9dbb" alt="" width="50px;">
              <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=50&s=2838cd78a5ebb5c9fea4c485908e9dbb" alt="" width="50px;">
              <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=50&s=2838cd78a5ebb5c9fea4c485908e9dbb" alt="" width="50px;">
            </div>

          </div>
        </div>
        <div class="right full-height">
        </div>
      </div>
    </div>
  </body>
</html>
