<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='../static/main.css' />
    <script type="text/javascript">alert("Hello World!");</script>
    <title>CS:GO Predictor</title>
  </head>
  <body>

 <div class="main">

    <div class="left">
       salut
    </div>
    <div class="center">

      <div class="pick">
        <div class="card">
          <div class="team">
            <a href="">
            <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
            <p>blabla</p>
            </a>
          </div>
        </div>
        <div class="">
          <p>2 - 16</p>
        </div>
        <div class="card">
          <div class="team">
            <a href="">
            <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
            <p>fjdkhwa fidhfdsfsdf</p>
            </a>
          </div>
        </div>

      </div>

      <form method="post" action="/" class="predict_btn">
        <input type="submit" value="Predict" name="predict"/>
      </form>


      <div class="teams">

        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div><div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>
        <div class="team" onclick="display()">
          <a href="">
          <img src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&w=200&s=0817a9bbab2476869f9a3b09d51c0f62" alt="">
          <p id="test">Vitality</p>
          </a>
        </div>


      </div>
    </div>
    <div class="right">
    </div>
 </div>
 </body>

</html>
