* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body{
   margin: 0;
   padding: 0;
  }
.main{
  height: 100%;
  width: 100%;
}
.left{
  position: absolute;
  bottom: 0px;
  width:35%;
  left: 0px;
  top: 0px;
  background-color: blue;
}
.right{
  position: absolute;
  bottom: 0px;
  width:35%;
  right: 0px;
  top: 0px;
  background-color: blue;
}
.center{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0px;
  left: 35%;
  right: 35%;
  width:auto;
  top: 0px;
  background-color: white;
}
.pick{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 50px;
}
.card{
  background-color: white;
  border-radius: 5px;
  height: 120px;
  width: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  text-align: center;
}
.teams{
  background-color: white;
  border-radius: 15px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding:20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.team{
  width: 100px;
}
.team img{
  max-width: 60px;
  max-height: 60px;
}
.team a{
text-decoration: none;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}
.team a p{
  color: lightgrey;
  text-align: center;
}
