* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body, html {
  height: 100%;


}
.main{
  background-color: #393939;
}
body{
   margin: 0;
   padding: 0;
  }
.main{
  height: 100%;
  width: 100%;
}
.left{
  position: absolute;
  bottom: 0px;
  width:30%;
  left: 0px;
  top: 0px;
}
.right{
  position: absolute;
  bottom: 0px;
  width:30%;
  right: 0px;
  top: 0px;
}
.center{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0px;
  left: 30%;
  right: 30%;
  width:auto;
  top: 0px;
  background-color: #393939;
}
.center-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:auto;
  background-color: white;
}
.pick{
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: 50px;
  color: white;
}
.card{
  background-color: #424242;
  color: white;
  border-radius: 5px;
  min-height: 115px;
  width: 120px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  text-align: center;
}
.teams{
  margin-top: 50px;
  border-radius: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #424242;
}
.card .team p{
  word-wrap: normal;
}
.team{
  width: 100px;
  background-color: #424242;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}
button, input[type="submit"], input[type="reset"] {
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background: none;
  border: none;
}
.team img{
  max-width: 60px;
  max-height: 60px;
  left: 1%;
  top: 10%;
  background-color: #424242;
}

.team p{
  color: lightgrey;
  text-align: center;
  position: relative;
  left: 0%;
  background-color: #424242;
  top: 5%;
}
.form{
  margin: 0px;
  width: 100%;
}
.predict_btn{
  background-color: #7C87E1;
  border-radius: 60px;
  width: auto;
  padding: 10px;
  padding-left: 30px;
  padding-right:30px;
}
